    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
    html,body{
        width: 100%;
        height: 100%;
        }
        .line{
            height: 5%;
            display: flex;
            justify-content: center;
            gap: 10px;
            background-color: black;
            color: white;
        }
        .line p{
            margin-top: 10px;
            font-size: 17px;
            font-weight: 900;
        }
        .line button{
            padding: 2px 10px;
            margin-top: 5px;
            margin-bottom: 5px;
            background-color: #F26728;
            color: white;
            border: none;
            border-radius: 5px;
        }
        .line button:hover{
            cursor: pointer;
            box-shadow: 0px 0px 5px 5px  #F26728;
        }
        .nav{
            display: flex;
            justify-content: center;
            gap: 40px;
        }
        .nav img{
            width: 10%;
            height: 10%;
            margin-top: 10px;
        }
        .nav p{
            margin-top: 22px;
            font-size: 17px;
            font-weight: 700;
        }
        .nav .demo{
            padding: 5px 5px;
            margin-top: 12px;
            margin-bottom: 9px;
            color:  #F26728;
            font-weight: 700;
            border: 2px solid #F26728;
            border-radius: 5px;
        }
        .nav .demo:hover{
            cursor: pointer;
            background-color: #F26728;
            color: white;
        }
        .nav .cont{
            padding: 5px 5px;
            margin-top: 12px;
            margin-bottom: 9px;
            border: none;
            border-radius: 5px;
            background-color:  #F26728;
            font-weight: 700;
            color: white;
        }
        .nav .cont:hover{
            cursor: pointer;
            background-color: white;
            color:#F26728;
            border: 2px solid #F26728;
        }
        hr{
            margin-top: 10px;
        }

    .freindly {
        height: 70%;
        width: 100%;
        background-color: white;
        
    }    

    .freindly h1{
        font-size: 60px;
        margin-top: 8%;
        margin-left: 25%;

    }
    .freindly h2{
        font-size: 60px;
        margin-top: 10px;
        margin-left: 28%;

    }
    .freindly h3{
        font-size: 57px;
        margin-top: 10px;
        margin-left: 32%;
    }

    .freindly .demo{
        margin-top: 80px;
        padding: 15px 40px;
        margin-left: 35%;
    border-radius: 4px;
    border: #F26728;
    background-color: #F26728;
    columns: white;

    }

    .freindly .cont{
        margin-top: 80px;
        padding: 15px 40px;
    border-radius: 4px;
    border: #F26728;
    background-color: #F26728;
    columns: white;

    }









    .page{
        width: 100%;
        height: 100%;
        background-color: white;
        
    }
    .page-con{
        height: 80%;
        width: 90%;
        background-color: white;
        transform: translateY(80px);
        margin-left: 5%;
    
    }
    .page-con img{
        height: 100%;
        width: 100%;

    }
    .numbers{
        height: 40%;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15%;
        transform: translateY(50px);
        font-size: 20px;
        color: white;
        

    }
    .page3{
        width: 100%;
        height: 50%;
        background-color: #f3f3f2;
        position: absolute; 
    }

    .page3 h1{
        color: black;
        margin-top: 55px;
        margin-left: 8%;
        font-family: "Host Grotesk", sans-serif;
        font-weight: 450;
        font-size: 40px;
    }

    .page3 p{
        color: black;
        margin-top: 20px;
        margin-left: 18px;
        font-family: "Quicksand", sans-serif;
        font-weight: 450;
        font-size: 20px;
        text-align: center;
    }

    .images{
        height: 150%;
        width: 100%;
        background-color: #f3f3f2;
        position: relative;
        transform: translateY(32%);


    }
    .div1 img{
        width: 90%;
        margin-left: 30px;
        margin-top: 30px;
    }
    .div1{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .div2 img{
        width: 90%;
        margin-left: 30px;
        margin-top: 30px;
    }
    .div2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .div3 img{
        width: 90%;
        margin-left: 30px;
        margin-top: 30px;
    }
    .div3{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .images h5{
        text-align: center;
        margin-top: 5%;
        font-size: 25px;
    }
    .images .strt{
        margin-left: 43%;
        margin-top: 20px;
        padding: 13px 60px;
        background-color: rgb(216, 44, 102);
        border: none;
        color: white;
        border-radius: 5px;
        font-size: 17px;
        font-weight: 700;
    }
    .images .strt:hover{
        cursor: pointer;
        background-color: white;
        border: 2px solid rgb(216, 44, 102);
        color: rgb(216, 44, 102);
        transition: ease-out 1s;
    }

    .page4{
        width: 100%;
        height: 40%;
        background-color: #f3f3f2;
        position: absolute;
        margin-top: 20%;
    }
    .page4 p{
        font-size: 30px;
        margin-left: 20%;
        margin-top: 80px;
    }
    .page4 button{
        padding: 12px 45px;
        margin-left: 40%;
        margin-top: 40px;
        border-radius: 5px;
        background-color: #F26728;
        border: none;
        color: white;
    }
    .page5{
        width: 100%;
        height: 40%;
    background-color: antiquewhite;
        position: absolute;
        margin-top: 38%;
        
    }
    .page5 h1{
        margin-top: 90px;
        margin-left: 23%;
        font-size: 40px;

    }
    .page6{
        width: 100%;
        height: 100%;
        background-color: antiquewhite;
    margin-top: 50%;
        position: absolute;
        display: flex;
    }
    .page6 .left{
        height: 100%;
        width: 50%;
        background-color: antiquewhite;
    }
    .left h1{
        margin-top: 20%;
        margin-left: 23%;
        font-family: "Host Grotesk", sans-serif;
        font-weight: 400;
    }
    .left p{
        margin-top: 25px;
        margin-left: 23%;
        font-family: "Host Grotesk", sans-serif;
        font-weight: 300;
    }
    .left h4{
        margin-top: 20px;
        margin-left: 23%;   
    }
    .page6 .left button{
        padding: 15px 30px;
        margin-left: 23%;
        margin-top: 36px;
        border: none;
        background-color: #F26728;
        color: white;
    }


    .page6 .right{
        height: 100%;
        width: 50%;
        background-color: antiquewhite; 
    }

    .right img{
        height: 80%;
        width: 80%;
        margin-left: 30px;
        margin-top: 60px;
    }
    .page7{
        width: 100%;
        height: 60%;
        background-color: white;
    margin-top: 95%;
        position: absolute;  
    }
    .page7  h1{
        font-family: "Host Grotesk", sans-serif;
        font-weight: 500;
        font-size: 45px;
        margin-top: 10%;
        margin-left: 18%;

    }
    .page7  p{
        font-family: "Host Grotesk", sans-serif;
        font-weight: 300;
        text-align: center;
        font-size: 17px;
        margin-top: 20px;
    
    }

    .page8{
        width: 100%;
        height: 90%;
        background-color: white;
    margin-top: 122%;
        position: absolute;  
        display: flex;
    }

    .page8 .left-con{
        width: 50%;
        height: 100%;
        background-color: white;
    }
    .left-con h1{
        font-family: "Host Grotesk", sans-serif;
        font-weight: 500;
        margin-left: 40px;
        margin-top: 30px;

    }
    .left-con hr{
        margin: 20px;
    }

    .page8 .right-con{
        width: 50%;
        height: 100%;
        background-color: rgb(219, 235, 219);

    }
    .page8 .right-con img{
        margin-left: 50px;

    }

    .page9{
        width: 100%;
        height: 90%;
    background-color: bisque;
    margin-top: 170%;
        position: absolute;  
        
    }

    .page9 .page9-con{
        height: 50%;
        width: 80%;
        background-color: #f3f3f3;
        margin-top: 10%;
        margin-left: 10%;
        text-align: center;
        position: absolute;
        border: 1px solid black;
    }
    .page9-con h2{
        margin-top: 40px;
        font-size: 40px;
    }
    .page9-con p{
        font-size: 23px;
        margin-top: 20px;
    }
    .page9-con .buy{
        text-align: center;
        margin-top: 6.3%;
        padding: 15px 20px;
        font-size: 17px;
    color: #F26728;
        background-color: white;
        border: none;
        font-weight: 700;
    }
    .page9-con .sell{
        text-align: center;
        margin-top: 6.3%;
        padding: 15px 20px;
        font-size: 17px;
        color: black;
        background-color: transparent;
        border:  none;
        font-weight: 700;
    } 

    .page10{
        width: 100%;
        height: 60%;
    background-color: rgb(220, 127, 12);
    margin-top: 210%;
        position: absolute; 
        display: flex; 
        
    }
    .page10 .page10-left{
        width: 50%;
        height: 100%;
        background-color: black;
    }
    .page10-left h1{
        font-family: "Kanit", sans-serif;
        font-weight: 550;
        font-style: normal;
        margin-top: 10%;
        margin-left: 13%;
        color: white;

    }
    .page10-left h2{
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        margin-left: 13%;
        color: white;
    }
    .page10-left p{
    color: white;
        font-weight: 500;
        margin-left: 13%;
        margin-top: 20px;
    }

    .page10 .page10-right{
        width: 50%;
        height: 100%;
        background-color:black;
    }

    .footer{
        width: 100%;
        height: 30%;
    background-color: black;
    margin-top: 230%;
        position: absolute; 
        display: flex; 
        color: white;

    }
    .F1{
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
        gap: 15px;
    } 
    .F2{
        width: 20%;
        margin-top: 20px;
        display: flex;
        color: white;
        margin-left: 15%;
        font-size: 20px;
        gap: 20px;
    }
    .F3{
        text-align: center;
        margin-top: 20px;
        display: flex;
        margin-left: 5%;
    }





